body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	color: #303030;
	background-color: #f1f1f3;
}

header {
	position: relative;
	margin: 25px auto 0;
	padding: 0;
	width: 900px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	z-index: 2;
}

section {
	position: relative;
	margin: -1px auto 0;
	padding: 10px;
	width: 880px;
	background-color: #fff;
	border-top: solid 5px #e1e1e1;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
	z-index: 1;
}

section:after {
	display: block;
	clear: both;
	content: '';
}

article {
	float: left
}

.left {
	padding: 0 10px;
	width: calc(35% - 20px);
}

.left img {
	max-width: 100%;
}

.right {
	position: relative;
	padding: 0 10px;
	width: calc(65% - 20px);
}

.start-button {
	position: absolute;
	display: inline-block;
	margin: 25px 0;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	border-radius: 4px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.start-button:hover {
	background-color: #4cae4c;
}

input {
	display: block;
	margin: 10px 0;
	padding: 10px;
	width: calc(100% - 20px);
	border-radius: 4px;
	border: solid 1px #555;
	outline: none;
	font-size: 25px;
}

#male,
#female {
	float: left;
	margin: 0 10px;
	width: calc(50% - 20px);
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#male:hover,
#female:hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

#hair img,
#beard img,
#clothes img {
	display: none;
}

#head img,
#clothes img {
	width: 100%;
}

#hair img.active,
#beard img.active,
#clothes img.active {
	display: block;
}

#hair {
	position: absolute;
	top: 35px;
	left: 50%;
	margin: 0 0 0 -61px;
	width: 122px;
	z-index: 2;
}

.curls {
	margin: 0 0 0 1px;
	width: 122px;
}

.short {
	margin: 5px 0 0 -5px;
	width: 130px;
}

.pointy {
	margin: -20px 0 0 -10px;
	width: 135px;
}

#head {
	position: absolute;
	top: 60px;
	left: 50%;
	margin: 0 0 0 -75px;
	width: 150px;
	z-index: 1;
}

#beard {
	position: absolute;
	top: 93px;
	left: 50%;
	margin: 0 0 0 -60px;
	width: 120px;
	z-index: 2;
}

.red {
	margin: -1px 0 0 0;
	width: 121px;
}

.gray {
	margin: -57px 0 0 0;
	width: 121px;
}

.dark {
	margin: -5px 0 0 0;
	width: 121px;
}

#clothes {
	position: absolute;
	top: 220px;
	left: 50%;
	margin: 0 0 0 -160px;
	width: 320px;
	z-index: 2;
}

.arrow {
	display: block;
	position: absolute;
	padding: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-family: 'FontAwesome';
	color: #555;
	text-align: center;
	z-index: 3;
	cursor: pointer;
}

.next {
	right: 20px;
	
}

.next:after {
	content:"\f054";
}

.prev {
	left: 20px;
	content: '\f053';
}

.prev:after {
	content: '\f053';
}

.change_hair {
	top: 50px;
}

.change_beard {
	top: 140px;
}

.change_clothes {
	top: 230px;
}